.li-btn {
	width: 7em;
	text-align: center;
	list-style: none;
	color: var(--red-purple);
	background-color: var(--pink);
	padding: 0.5em;
	border-radius: 5px;
	border: 0.1rem solid var(--gray);
}

.li-btn:hover {
	filter: brightness(0.95);
}
