.li-answer {
	min-width: 15em;
	text-align: center;
	list-style: none;
	color: var(--blue);
	background-color: var(--silver);
	padding: 1rem;
	margin: 1rem;
	border: 0.1rem solid var(--gray);
	border-radius: 5px;
}

.li-answer:hover {
	filter: brightness(0.95);
}

.red {
	background-color: var(--red-incorrect);
}

.green {
	background-color: var(--green-correct);
}
